body {
    color: #191f28;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;

}

h3{
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    float: right;
}
  
li a {
    display: block;
    color: #78777A;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
 
li a:hover {
    color: #FFF;
    background-color: #0097ff;
    border-radius: 50px;
}

.link{
    color: #0097ff;
    text-decoration: none;
}

