	/*Formatação do menu*/
	nav#menu{
		display: block;
	}

	nav#menu ul{
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #FFF;
    	font-family: century gothic;
    	font-size: 15px;
	}
 	nav#menu li{
    	float: right;
	} 
	nav#menu a{
    	display: block;
    	color: #78777A;
    	text-align: center;
    	padding: 10px 14px 10px 14px;
    	text-decoration: none;

	} 
	nav#menu a:hover {
    	color: #FFF;
    	background-color: #0097FF;
    	border-radius: 20px;
    	transition: .1s;
	}
	nav#menu h1{
		display: none;
	}


	/*Formatação imagens dos shows*/
	.shows{
        width: 100%;
        height: auto;
		opacity: 1;
		border-radius: 20px 20px 0px 0px;
	}


	/*Formatação do texto dos favoritos*/
	h2{
		text-align: justify;
		width: 100%;
		margin: 7px 0px 0px 20px;
		font-size: 20px;
		font-family: sans-serif;
	}
	p{
		text-align: justify;
		width: 100%;
		margin: 15px 0px 0px 20px;
		font-size: 15px;
		font-family: sans-serif;
	}


	/*Formatação Hover*/
	.fav:hover{
		-webkit-transform: scale(1.005);
    	transform: scale(1.01);
		box-shadow: 2px 2px 5px  #808080;
	}

	/*Formatação dos Blocos*/
	.fav{
		position: absolute;
		width: 250px;
		height: 250px;
		border-radius:20px;
		background-color: #d9d9d9;
		transition: 1s;
	}


	/*Posicionamento dos favoritos*/
	div#fav1{
		top: 90px;
		left: 50px;
	}
	
	div#fav2{
		top: 90px;
		left: 370px;
	}
	
	div#fav3{
		top: 90px;
		left: 690px;
	}

	div#fav4{
		top: 90px;
		left: 1010px;
	}

	div#fav5{
		top: 370px;
		left: 50px;
	}

	div#fav6{
		top: 370px;
		left: 370px;
	}

	div#fav7{
		top: 370px;
		left: 690px;
	}

	div#fav8{
		top: 370px;
		left: 1010px;
	}