/** Geral **/

/* Padrão */
body {
    position: relative;
    color: #191F28;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    margin: 0px;
    padding: 0px;
    width: 100%;
    top: -12px;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin: 8px 0px 16px;
}

h2 {
    font-size: 20px;
    margin: 0px 0px 24px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

p {
    
}

a {
    color: #0097FF;
    text-decoration: none;
}

/* Cabeçalho */
header {
    background-color: #191F28;
    position: relative;
    max-width: 100%;
    height: 50px;
}

/* Menu */
nav li {
    display: block;
    float: right;
    text-align: center;
}

#menu {
    color: #FFF;
    display: block;
    padding: 16px;
    transition: 0.4s;
    border-radius: 30px;
}

#menu:hover {
    background-color: #0097FF;
}

/** Eventos **/
/* Imagem */
.imagemEvento {
    background-image: url("https:source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.imagemEvento img {
    max-width: 100%;
    border-radius: 30px;
    vertical-align: bottom;
}


/* =============================================== MENU INICIAL ========================================== */

/* Importa Fonte */

@font-face {
    font-family: Visby;
    src: url(/src/fonts/Visby.ttf);
}

/* Menu */

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}

.menu{
    padding-right: 30px;
    float: right;
}

header li{
    text-decoration: none;
    padding-top: 15px;
    align-items: center;
    font-family: Visby;
    text-align: center;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
    color: #78777A;
}

.item_menu:hover{
    color: #0097FF;
}

.item_select{

    color: #FFFF;
    width:121px;
    height: 39px;
    background-color: #0097FF;
    border-radius: 40px;
}
