/* Eventos */

div.imagemEvento {
    text-align: center;
}

div.imagemEvento img {
    max-width: 100%;
    border-radius: 12px;
}

/* Geral */

body {
    position: relative;
    color: #191F28;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
    margin: 8px 0px 16px;
}

h2 {
    font-size: 20px;
    margin: 0px 0px 24px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}



a {
    color: #0097FF;
    text-decoration: none;
}

nav li {
    display: inline;
    float: right;
    margin: 2px;
    padding: 2px;
}

* {
    scroll-behavior: smooth;
}

/* =============================================== MENU INICIAL ========================================== */

/* Importa Fonte */

@font-face {
    font-family: Visby;
    src: url(/src/fonts/Visby.ttf);
}

/* Menu */

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}

.menu{
    padding-right: 30px;
    float: right;
}

header li{
    text-decoration: none;
    padding-top: 15px;
    align-items: center;
    font-family: Visby;
    text-align: center;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
    color: #78777A;
}

.item_menu:hover{
    color: #0097FF;
}

.item_select{
    
    color: #FFFF;
    width:121px;
    height: 39px;
    background-color: #0097FF;
    border-radius: 40px;
}
