* {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #191F28;
    line-height: 1.5;
    text-align: justify;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* TEXTOS */
h1 {
    font-size: 24px;
    /* margin: 8px 0px 16px; */
}

h2 {
    font-size: 20px;
    margin: 0px 0px 24px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

a {
    text-decoration: none;
}


/* CABECALHO */
header {
    display: flex;
    background: lightgreen;
    justify-content: space-between;
}

nav {
    background: lightcoral;
}

menu {
    background: lightyellow;
}

menu ul li {
    display: block;
    float: right;
    text-align: center;
    color: #FFF;
    padding: 16px;
    transition: .4s;
    border-radius: 30px;
}

menu ul li:hover {
    background: #0097FF;
}

#logo{
    display: flex;
    padding: 2px;
    
}

/* MAIN */
/* main {
    background: lightgray;
    width: 80%;
    margin: 0% 10%;
} */

/* IMAGEM */
.imagemFundo{
    background-image: url("https:source.unsplash.com/random/1920x800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
}

#imagemEvento{
    max-width: 80%;
    border-radius: 30px 30px 0px 0px;
    margin: 0 10%;
    vertical-align: bottom;
}

main a {
    color: #0097FF;
}

/* TEXTO */
.tituloEvento{
    margin-top: 10px;
    width: 80%;
    margin: 0 10%;
    background: lightgray;
}

.descricaoEvento{
    margin-top: 10px;
    width: 80%;
    margin: 0 10%;
    background: lightgray;
}


/* RODAPE */
footer {
    background: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}